
@{
    ViewBag.Title = "FAQ";
}

@*<style>
    .panel-group .panel .panel-heading .panel-title a {
  color: brown ;
}
.panel-group .panel .panel-heading .panel-title a:before {
  font-family: FontAwesome;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f146";
  margin-right: 5px;
}
.panel-group .panel .panel-heading .panel-title a.collapsed:before {
  content: "\f0fe";
}

</style>*@

<h2>FAQ</h2>

<div class="container">
    <div class="row-border">
        <div class="faq-wrapper col-md-8 col-sm-7">
            <div class="panel-group" id="accordion">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse-1">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit?
                            </a>
                        </h4>
                    </div><!--//pane-heading-->
                    <div id="collapse-1" class="panel-collapse collapse in">
                        <div class="panel-body">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vitae lacinia nunc. Proin egestas imperdiet ante non fermentum. Duis sollicitudin lacinia massa ac sagittis. Pellentesque et elit erat. Sed quis sem consectetur, interdum nisi vel, eleifend leo. Quisque nunc libero, porta vel varius eget, dapibus in nisl. Cras fringilla eu sem a ultrices. Proin sit amet nunc eget nisl fringilla iaculis sed eu nulla. Ut malesuada, risus nec eleifend consequat, quam nulla sodales felis, sit amet iaculis leo leo egestas sapien. Duis tristique diam in lectus tempor, nec mattis ligula consequat. Aliquam eget mauris sit amet dui bibendum iaculis. Proin eu justo ut massa vulputate eleifend. Praesent mattis lorem orci, ac interdum sapien pretium sit amet.
                        </div><!--//panel-body-->
                    </div><!--//panel-colapse-->
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" class="collapsed" href="#collapse-2">
                                Donec sollicitudin, mauris ut sollicitudin porta?
                            </a>
                        </h4>
                    </div><!--//pane-heading-->
                    <div id="collapse-2" class="panel-collapse collapse">
                        <div class="panel-body">
                            Donec sollicitudin, mauris ut sollicitudin porta, nisi felis varius libero, quis vulputate dolor odio ac elit. Donec gravida, nisi at ornare pulvinar, nisl neque rhoncus arcu, vel malesuada neque magna et metus. Aenean lacinia ipsum consequat hendrerit condimentum. Vivamus quis nisi quis nisi dictum viverra. Cras dignissim eros at urna hendrerit interdum. In dictum, ligula laoreet consequat dignissim, velit sapien lacinia nunc, eleifend hendrerit massa nisl sed libero. Donec nulla dolor, pretium id ornare eget, adipiscing sit amet elit. Cras pharetra porta tincidunt. Nam ut convallis magna, vel iaculis lectus. Vivamus auctor a metus non semper. Ut ac ornare leo.
                        </div><!--//panel-body-->
                    </div><!--//panel-colapse-->
                </div><!--//panel-->
                <div class="panel panel-warning">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" class="collapsed" href="#collapse-3">
                                Nullam eleifend neque eu egestas ultrices?
                            </a>
                        </h4>
                    </div><!--//pane-heading-->
                    <div id="collapse-3" class="panel-collapse collapse">
                        <div class="panel-body">
                            Nullam eleifend neque eu egestas ultrices. Duis sit amet nibh id metus ultrices porta. Sed elementum, ipsum sit amet lacinia facilisis, lectus elit scelerisque lectus, vel blandit odio arcu et diam. Etiam consequat rutrum porta. Sed sollicitudin dictum tortor quis vestibulum. Curabitur vitae est porttitor, convallis mi iaculis, venenatis neque. Duis et nulla et lorem commodo dictum. Praesent blandit est eget adipiscing rhoncus.
                        </div><!--//panel-body-->
                    </div><!--//panel-colapse-->
                </div><!--//panel-->
                <div class="panel panel-danger">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" class="collapsed" href="#collapse-4">
                                Suspendisse mollis neque augue?
                            </a>
                        </h4>
                    </div><!--//pane-heading-->
                    <div id="collapse-4" class="panel-collapse collapse">
                        <div class="panel-body">
                            Aenean commodo, nunc in feugiat dictum, nibh nibh laoreet lectus, nec posuere velit nulla a ligula. Nullam non odio laoreet, rhoncus nibh eget, sollicitudin lorem. Nullam posuere semper magna vitae suscipit. Mauris vel elit eget elit facilisis euismod. Nunc sit amet purus pellentesque, dapibus enim non, tempus arcu. Etiam ornare egestas enim ac accumsan. Maecenas viverra tortor vitae suscipit volutpat. In gravida vehicula consequat. Vivamus ac suscipit tortor.
                        </div><!--//panel-body-->
                    </div><!--//panel-colapse-->
                </div><!--//panel-->
            </div>
        </div>
    </div>
</div>

